<div class="container">
  <h2>Catálogo de productos App</h2>
  <button class="btn btn-info btn-sm" (click)="showOrHideCart()">
    {{ showCart ? 'Hide Cart' : 'Show Cart' }} ({{items.length}})
  </button>
  <div class="row">
    <div [className]="showCart ? 'col-8' : 'col'">
      <app-catalog [products]="products" (add)="onAddProductToCart($event)"> </app-catalog>
    </div>
    @if (showCart) {
      <div class="col-4">
        @if (items.length > 0) {
          <app-cart [items]="items" (remove)="onRemoveItemFromCart($event)"> </app-cart>
        } @else {
          <div class="alert alert-warning">No hay elementos en el carro !</div>
        }
      </div>
    }
  </div>
</div>
