<app-navbar [items]="items" (showOrHideCartEventEmitter)="showOrHideCart()"></app-navbar>
<div class="container my-4">
  <h2>Catálogo de productos App</h2>
  <div class="row">
    <div [className]="showCart ? 'col-8' : 'col'">
      <app-catalog [products]="products" (add)="onAddProductToCart($event)"> </app-catalog>
    </div>
    @if (showCart) {
      <div class="col-4">
        @if (items.length > 0) {
          <app-cart [items]="items" (remove)="onRemoveItemFromCart($event)"> </app-cart>
        } @else {
          <div class="alert alert-warning">No hay elementos en el carro !</div>
        }
      </div>
    }
  </div>
</div>
