<p>Carro de compras</p>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Total</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    @for (item of items; track $index) {
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.price * item.quantity }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="onDeleteProductFromCart(item.product.id)">
            X
          </button>
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" class="text-end fw-bold">
        <strong>Total:</strong>
      </td>
      <td colspan="1" class="text-end fw-bold">
        <strong>₡{{ total }}</strong>
      </td>
    </tr>
  </tfoot>
</table>

<!--<div class="text-end mt-3"><h4>Total: ₡{{ total }}</h4></div>-->

